h2.chimp {
	margin: 0;
}


.chimp-row { margin: 0 -0.5em; }

.chimp-column {
	width: 33.333333%;
	float: left;
	min-height: 1px;
}

.chimp-padding {
	position: relative;
	padding: 0 .5em;
}



/* helpers */

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }
